scj/code/__pycache__/__init__.cpython-38.pyc
scj/code/__pycache__/
scj/code/__pycache__/initialization.cpython-38.pyc
sxw/gui/__pycache__/
scj/__pycache__/__init__.cpython-38.pyc

dir_test/
labelImg/

